#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 20px auto;
}

.cell {
    border: 2px solid black;
    box-sizing: border-box;
}

.cell.colored {
  background-color: blue;
}